---
http_interactions:
- request:
    method: post
    uri: https://api.us2.sumologic.com/api/v1/collectors
    body:
      encoding: UTF-8
      string: '{"collector":{"alive":null,"category":"Test Category","collectorType":"Hosted","collectorVersion":null,"cutoffRelativeTime":null,"cutoffTimestamp":null,"description":"Test
        Description","ephemeral":null,"hostName":null,"id":null,"lastSeenAlive":null,"links":null,"name":"Test
        Collector","osArch":null,"osName":null,"osTime":null,"osVersion":null,"sourceSyncMode":null,"targetCpu":null,"timeZone":null}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"9fd1231461b9c092ed1850f698c75a3c"'
      location:
      - "/v1/collectors/116769034"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collector":{
            "id":116769034,
            "name":"Test Collector",
            "description":"Test Description",
            "category":"Test Category",
            "timeZone":"UTC",
            "links":[{
              "rel":"sources",
              "href":"/v1/collectors/116769034/sources"
            }],
            "collectorType":"Hosted",
            "collectorVersion":"",
            "lastSeenAlive":1492794143172,
            "alive":true
          }
        }
  recorded_at: Fri, 21 Apr 2017 17:02:23 GMT
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/116769034
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"9fd1231461b9c092ed1850f698c75a3c"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collector":{
            "id":116769034,
            "name":"Test Collector",
            "description":"Test Description",
            "category":"Test Category",
            "timeZone":"UTC",
            "links":[{
              "rel":"sources",
              "href":"/v1/collectors/116769034/sources"
            }],
            "collectorType":"Hosted",
            "collectorVersion":"",
            "lastSeenAlive":1492794143655,
            "alive":true
          }
        }
  recorded_at: Fri, 21 Apr 2017 17:02:23 GMT
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collectors":[{
            "id":108879527,
            "name":"Archivist Production",
            "category":"production_archivist",
            "timeZone":"Etc/UTC",
            "links":[{
              "rel":"sources",
              "href":"/v1/collectors/108879527/sources"
            }],
            "collectorType":"Hosted",
            "collectorVersion":"",
            "lastSeenAlive":1492794144267,
            "alive":true
          },{
            "id":105046534,
            "name":"Archivist Stagin[...]
[...]
- request:
    method: put
    uri: https://api.us2.sumologic.com/api/v1/collectors/116769034
    body:
      encoding: UTF-8
      string: '{"collector":{"alive":null,"category":"Test Updated Category","collectorType":"Hosted","collectorVersion":null,"cutoffRelativeTime":null,"cutoffTimestamp":null,"description":"Test
        Updated Description","ephemeral":null,"hostName":null,"id":116769034,"lastSeenAlive":null,"links":null,"name":"Test
        Collector","osArch":null,"osName":null,"osTime":null,"osVersion":null,"sourceSyncMode":null,"targetCpu":null,"timeZone":null}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
      If-Match:
      - '"9fd1231461b9c092ed1850f698c75a3c"'
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"1b08e2faa3ddd9be9c3aad6dbba4feea"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collector":{
            "id":116769034,
            "name":"Test Collector",
            "description":"Test Updated Description",
            "category":"Test Updated Category",
            "timeZone":"UTC",
            "links":[{
              "rel":"sources",
              "href":"/v1/collectors/116769034/sources"
            }],
            "collectorType":"Hosted",
            "collectorVersion":"",
            "lastSeenAlive":1492794145271,
            "alive":true
          }
        }
  recorded_at: Fri, 21 Apr 2017 17:02:25 GMT
[...]
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 404
      message:
    headers:
      content-type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "id" : "L4JHM-YU4UH-799F7",
          "code" : "collectors.collector.invalid",
          "message" : "The specified collector ID is invalid."
        }
  recorded_at: Fri, 21 Apr 2017 17:02:27 GMT
[...]
