---
http_interactions:
- request:
    method: post
    uri: https://api.us2.sumologic.com/api/v1/collectors/4216085/sources
    body:
      encoding: UTF-8
      string: '{"source":{"alive":null,"authMethod":"key","automaticDateParsing":null,"category":"apache","cutoffTimestamp":null,"defaultDateFormat":null,"description":null,"encoding":null,"filters":[{"filterType":"Exclude","name":"exclude
        health check","regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"},{"filterType":"Exclude","name":"exclude
        server-status","regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"}],"forceTimeZone":null,"hostName":null,"id":null,"keyPassword":null,"keyPath":"/home/sumo/.ssh/id_rsa","manualPrefixRegexp":null,"multilineProcessingEnabled":null,"name":"test_existing_source_apache","remoteHosts":["192.168.11.23"],"remotePassword":null,"remotePath":"/var/log/apache2/access_log","remotePort":22,"remoteUser":"root","sourceType":"RemoteFile","status":null,"timeZone":null,"useAutolineMatching":null}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      content-type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: |-
        {
          "status" : 400,
          "id" : "5I0MD-W52Z8-OI5B0",
          "code" : "collectors.validation.name.duplicate",
          "message" : "A resource with the same name already exists."
        }
  recorded_at: Fri, 17 Jan 2014 22:54:45 GMT
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/4216085/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sources":[{
            "id":4605971,
            "name":"prod_g5_712d_apache",
            "category":"apache",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":false,
            "useAutolineMatching":false,
            "forceTimeZone":false,
            "filters":[{
              "filterType":"Exclude",
              "name":"exclude health check",
              "regexp":".*\\\"GET /up HTTP/1\\.0\\\".*"
            },{
              "filterType":"Exclude",
             [...]
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/4216085/sources/7858761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"caa6fbb4df4e7563c27129918952c3f1"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "source":{
            "id":7858761,
            "name":"test_existing_source_apache",
            "category":"apache",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "forceTimeZone":false,
            "filters":[{
              "filterType":"Exclude",
              "name":"exclude health check",
              "regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"
            },{
              "filterType":"Exclude",
              "name":"exclude server-status",
              "regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"
            }],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "authMethod":"key",
            "keyPassword":null,
            "remotePath":"/var/log/apache2/access_log",
            "remotePassword":null,
            "keyPath":"/home/sumo/.ssh/id_rsa",
            "remoteHosts":["192.168.11.23"],
            "remoteUser":"root",
            "remotePort":22,
            "sourceType":"RemoteFile",
            "alive":true
          }
        }
  recorded_at: Fri, 17 Jan 2014 22:54:48 GMT
- request:
    method: put
    uri: https://api.us2.sumologic.com/api/v1/collectors/4216085/sources/7858761
    body:
      encoding: UTF-8
      string: '{"source":{"alive":null,"authMethod":"key","automaticDateParsing":null,"category":"apache","cutoffTimestamp":null,"defaultDateFormat":null,"description":null,"encoding":null,"filters":[{"filterType":"Exclude","name":"exclude
        health check","regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"},{"filterType":"Exclude","name":"exclude
        server-status","regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"}],"forceTimeZone":null,"hostName":null,"id":7858761,"keyPassword":null,"keyPath":"/home/sumo/.ssh/id_rsa","manualPrefixRegexp":null,"multilineProcessingEnabled":null,"name":"test_existing_source_apache","remoteHosts":["192.168.11.23"],"remotePassword":null,"remotePath":"/var/log/apache2/access_log","remotePort":22,"remoteUser":"root","sourceType":"RemoteFile","status":null,"timeZone":null,"useAutolineMatching":null}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
      If-Match:
      - '"caa6fbb4df4e7563c27129918952c3f1"'
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"0812ec7ee0baa811ba9cf63b0d2b3f7b"'
    body:
      encoding: US-ASCII
      string: |-
        {
          "source":{
            "id":7858761,
            "name":"test_existing_source_apache",
            "category":"apache",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "forceTimeZone":false,
            "filters":[{
              "filterType":"Exclude",
              "name":"exclude health check",
              "regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"
            },{
              "filterType":"Exclude",
              "name":"exclude server-status",
              "regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"
            }],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "authMethod":"key",
            "keyPassword":null,
            "remotePath":"/var/log/apache2/access_log",
            "remotePassword":null,
            "keyPath":"/home/sumo/.ssh/id_rsa",
            "remoteHosts":["192.168.11.23"],
            "remoteUser":"root",
            "remotePort":22,
            "sourceType":"RemoteFile",
            "alive":true
          }
        }
  recorded_at: Fri, 17 Jan 2014 22:54:49 GMT
- request:
    method: post
    uri: https://api.us2.sumologic.com/api/v1/collectors/4216085/sources
    body:
      encoding: UTF-8
      string: '{"source":{"alive":null,"authMethod":"key","automaticDateParsing":null,"blacklist":null,"category":"apache","contentType":null,"cutoffTimestamp":null,"defaultDateFormat":null,"description":null,"encoding":null,"filters":[{"filterType":"Exclude","name":"exclude
        health check","regexp":".*\"GET \\/up HTTP\\/1\\.0\".*"},{"filterType":"Exclude","name":"exclude
        server-status","regexp":".*\"GET \\/server-status\\?auto HTTP\\/1\\.1\".*"}],"forceTimeZone":null,"hostName":null,"id":null,"keyPassword":null,"keyPath":"/home/sumo/.ssh/id_rsa","manualPrefixRegexp":null,"messagePerRequest":null,"multilineProcessingEnabled":null,"name":"test_existing_source_apache","pathExpression":null,"paused":null,"remoteHosts":["192.168.11.23"],"remotePassword":null,"remotePath":"/var/log/apache2/access_log","remotePort":22,"remoteUser":"root","scanInterval":null,"sourceType":"RemoteFile","status":null,"timeZone":null,"thirdPartyRef":null,"url":null,"useAutolineMatching":null,"version":null}}'
    headers:
      Authorization:
      - Basic ezpzdW1vX2FjY2Vzc19pZD0+InRlc3R1c2VyIiwgOnN1bW9fYWNjZXNzX2tleT0+InRlc3RwYXNzd29yZCJ9Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      content-type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 401,
          "id" : "4YV7V-2MHHP-AIJUS",
          "code" : "unauthorized",
          "message" : "Credential could not be verified."
        }
  recorded_at: Mon, 15 May 2017 16:47:23 GMT
recorded_with: VCR 3.0.3
