---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/collectors/4216085/sources
    body:
      string: "\n      {\n        \"source\":\n        {\n          \"alive\": true,\n          \"authMethod\": \"key\",\n          \"automaticDateParsing\": true,\n          \"category\": \"apache\",\n          \"defaultDateFormat\": \"\",\n          \"description\": \"\",\n          \"filters\": [\n      {\n        \"filterType\": \"Exclude\",\n        \"name\": \"exclude health check\",\n        \"regexp\": \".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\"\n      },\n      {\n        \"filterType\": \"Exclude\",\n        \"name\": \"exclude server-status\",\n        \"regexp\": \".*\\\\\\\"GET /server-status\\\\?auto HTTP/1\\\\.1\\\\\\\".*\"\n      }\n    ],\n          \"forceTimeZone\": false,\n          \"hostName\": \"\",\n          \"keyPassword\": \"\",\n          \"keyPath\": \"/home/sumo/.ssh/id_rsa\",\n          \"manualPrefixRegexp\": \"\",\n          \"multilineProcessingEnabled\": false,\n          \"name\": \"test_existing_apache\",\n          \"remoteHost\": \"192.168.11.23\",\n          \"remotePassword\": \"\",\n          \"remotePath\": \"/var/log/apache2/access_log\",\n          \"remotePort\": 22,\n          \"remoteUser\": \"root\",\n          \"sourceType\": \"RemoteFile\",\n          \"status\": \"\",\n          \"timeZone\": \"\",\n          \"useAutolineMatching\": false\n        }\n      }\n    "
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdEBleGFtcGxlLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 400
      message:
    headers:
      content-type:
      - application/json; charset=ISO-8859-1
    body:
      string: |-
        {
          "status" : 400,
          "id" : "7ZHQL-J14A7-7MZ0D",
          "code" : "collectors.validation.name.duplicate",
          "message" : "A resource with the same name already exists."
        }
  recorded_at: Sat, 26 Oct 2013 22:33:43 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/collectors/4216085/sources
    body:
      string: ""
    headers:
      Authorization:
      - Basic dGVzdEBleGFtcGxlLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      string: "{\"sources\":[{\"id\":4605971,\"name\":\"prod_g5_712d_apache\",\"sourceType\":\"RemoteFile\",\"alive\":true,\"status\":\"\",\"multilineProcessingEnabled\":false,\"automaticDateParsing\":true,\"useAutolineMatching\":false,\"manualPrefixRegexp\":\"\",\"forceTimeZone\":false,\"defaultDateFormat\":\"\",\"hostName\":\"\",\"timeZone\":\"\",\"description\":\"\",\"filters\":[{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\",\"name\":\"exclude health check\"},{\"filterType\":\"Exclud[...]
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/collectors/4216085/sources/6732930
    body:
      string: ""
    headers:
      Authorization:
      - Basic dGVzdEBleGFtcGxlLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 200
      message:
    headers:
      etag:
      - "\"33bdab4d61bef9dc4a9358b422258d01\""
      content-type:
      - application/json
    body:
      string: "{\"source\":{\"id\":6732930,\"name\":\"test_existing_apache\",\"sourceType\":\"RemoteFile\",\"alive\":true,\"status\":\"\",\"automaticDateParsing\":true,\"multilineProcessingEnabled\":false,\"useAutolineMatching\":false,\"manualPrefixRegexp\":\"\",\"forceTimeZone\":false,\"defaultDateFormat\":\"\",\"hostName\":\"\",\"timeZone\":\"\",\"description\":\"\",\"filters\":[{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\",\"name\":\"exclude health check\"},{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /server-status\\\\?auto HTTP/1\\\\.1\\\\\\\".*\",\"name\":\"exclude server-status\"}],\"category\":\"apache\",\"keyPath\":\"/home/sumo/.ssh/id_rsa\",\"authMethod\":\"key\",\"remotePort\":22,\"remotePassword\":\"\",\"keyPassword\":\"\",\"remotePath\":\"/var/log/apache2/access_log\",\"remoteHost\":\"192.168.11.23\",\"remoteUser\":\"root\"}}"
  recorded_at: Sat, 26 Oct 2013 22:33:46 GMT
- request:
    method: put
    uri: https://api.sumologic.com/api/v1/collectors/4216085/sources/6732930
    body:
      string: "{\"source\":{\"remotePassword\":\"\",\"id\":6732930,\"keyPassword\":\"\",\"useAutolineMatching\":false,\"timeZone\":\"\",\"hostName\":\"\",\"manualPrefixRegexp\":\"\",\"name\":\"test_existing_apache\",\"category\":\"apache\",\"defaultDateFormat\":\"\",\"sourceType\":\"RemoteFile\",\"authMethod\":\"key\",\"remoteUser\":\"root\",\"remotePath\":\"/var/log/apache2/access_log\",\"remotePort\":22,\"forceTimeZone\":false,\"automaticDateParsing\":true,\"status\":\"\",\"filters\":[{\"name\":\"exclude health check\",\"regexp\":\".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\",\"filterType\":\"Exclude\"},{\"name\":\"exclude server-status\",\"regexp\":\".*\\\\\\\"GET /server-status\\\\?auto HTTP/1\\\\.1\\\\\\\".*\",\"filterType\":\"Exclude\"}],\"multilineProcessingEnabled\":false,\"remoteHost\":\"192.168.11.23\",\"keyPath\":\"/home/sumo/.ssh/id_rsa\",\"description\":\"\",\"alive\":true}}"
    headers:
      If-Match:
      - "\"33bdab4d61bef9dc4a9358b422258d01\""
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdEBleGFtcGxlLmNvbTpwYXNzd29yZA==
  response:
    status:
      code: 200
      message:
    headers:
      etag:
      - "\"33bdab4d61bef9dc4a9358b422258d01\""
      content-type:
      - application/json
    body:
      string: "{\"source\":{\"id\":6732930,\"name\":\"test_existing_apache\",\"sourceType\":\"RemoteFile\",\"alive\":true,\"status\":\"\",\"automaticDateParsing\":true,\"multilineProcessingEnabled\":false,\"useAutolineMatching\":false,\"manualPrefixRegexp\":\"\",\"forceTimeZone\":false,\"defaultDateFormat\":\"\",\"hostName\":\"\",\"timeZone\":\"\",\"description\":\"\",\"filters\":[{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\",\"name\":\"exclude health check\"},{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /server-status\\\\?auto HTTP/1\\\\.1\\\\\\\".*\",\"name\":\"exclude server-status\"}],\"category\":\"apache\",\"keyPath\":\"/home/sumo/.ssh/id_rsa\",\"authMethod\":\"key\",\"remotePort\":22,\"remotePassword\":\"\",\"keyPassword\":\"\",\"remotePath\":\"/var/log/apache2/access_log\",\"remoteHost\":\"192.168.11.23\",\"remoteUser\":\"root\"}}"
  recorded_at: Sat, 26 Oct 2013 22:33:48 GMT
recorded_with: VCR 2.6.0
