---
recorded_with: VCR 2.6.0
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/collectors/4216085/sources
    body:
      string: "\n      {\n        \"source\":\n        {\n          \"alive\": true,\n          \"authMethod\": \"key\",\n          \"automaticDateParsing\": true,\n          \"category\": \"apache\",\n          \"defaultDateFormat\": \"\",\n          \"description\": \"\",\n          \"filters\": [\n      {\n        \"filterType\": \"Exclude\",\n        \"name\": \"exclude health check\",\n        \"regexp\": \".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\"\n      },\n      {\n        \"filterType\": \"Exclude\",\n        \"name\": \"exclude server-status\",\n        \"regexp\": \".*\\\\\\\"GET /server-status\\\\?auto HTTP/1\\\\.1\\\\\\\".*\"\n      }\n    ],\n          \"forceTimeZone\": false,\n          \"hostName\": \"\",\n          \"keyPassword\": \"\",\n          \"keyPath\": \"/home/sumo/.ssh/id_rsa\",\n          \"manualPrefixRegexp\": \"\",\n          \"multilineProcessingEnabled\": false,\n          \"name\": \"test_new_apache\",\n          \"remoteHost\": \"192.168.11.23\",\n          \"remotePassword\": \"\",\n          \"remotePath\": \"/var/log/apache2/access_log\",\n          \"remotePort\": 22,\n          \"remoteUser\": \"root\",\n          \"sourceType\": \"RemoteFile\",\n          \"status\": \"\",\n          \"timeZone\": \"\",\n          \"useAutolineMatching\": false\n        }\n      }\n    "
    headers:
      Authorization:
      - Basic dGVzdEBleGFtcGxlLmNvbTpwYXNzd29yZA==
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      location:
      - /v1/collectors/4216085/sources/6732928
      etag:
      - "\"db981a9bde6922e0f0e564c004f15b57\""
    body:
      string: "{\"source\":{\"id\":6732928,\"name\":\"test_new_apache\",\"sourceType\":\"RemoteFile\",\"alive\":true,\"status\":\"\",\"automaticDateParsing\":true,\"multilineProcessingEnabled\":false,\"useAutolineMatching\":false,\"manualPrefixRegexp\":\"\",\"forceTimeZone\":false,\"defaultDateFormat\":\"\",\"hostName\":\"\",\"timeZone\":\"\",\"description\":\"\",\"filters\":[{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /up HTTP/1\\\\.0\\\\\\\".*\",\"name\":\"exclude health check\"},{\"filterType\":\"Exclude\",\"regexp\":\".*\\\\\\\"GET /server-status\\\\?auto HTTP/1\\\\.1\\\\\\\".*\",\"name\":\"exclude server-status\"}],\"category\":\"apache\",\"keyPath\":\"/home/sumo/.ssh/id_rsa\",\"authMethod\":\"key\",\"remotePort\":22,\"remotePassword\":\"\",\"keyPassword\":\"\",\"remotePath\":\"/var/log/apache2/access_log\",\"remoteHost\":\"192.168.11.23\",\"remoteUser\":\"root\"}}"
  recorded_at: Sat, 26 Oct 2013 22:32:55 GMT
