---
http_interactions:
- request:
    method: post
    uri: https://api.us2.sumologic.com/api/v1/collectors/4216085/sources
    body:
      encoding: UTF-8
      string: '{"source":{"alive":null,"authMethod":"key","automaticDateParsing":null,"category":"apache","cutoffTimestamp":null,"defaultDateFormat":null,"description":null,"encoding":null,"filters":[{"filterType":"Exclude","name":"exclude
        health check","regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"},{"filterType":"Exclude","name":"exclude
        server-status","regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"}],"forceTimeZone":null,"hostName":null,"id":null,"keyPassword":null,"keyPath":"/home/sumo/.ssh/id_rsa","manualPrefixRegexp":null,"multilineProcessingEnabled":null,"name":"test_new_source_apache","remoteHosts":["192.168.11.23"],"remotePassword":null,"remotePath":"/var/log/apache2/access_log","remotePort":22,"remoteUser":"root","sourceType":"RemoteFile","status":null,"timeZone":null,"useAutolineMatching":null}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"f013d0a5fbd41f5411e1f654cbbbd6df"'
      location:
      - "/v1/collectors/4216085/sources/7868940"
    body:
      encoding: US-ASCII
      string: |-
        {
          "source":{
            "id":7868940,
            "name":"test_new_source_apache",
            "category":"apache",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "forceTimeZone":false,
            "filters":[{
              "filterType":"Exclude",
              "name":"exclude health check",
              "regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"
            },{
              "filterType":"Exclude",
              "name":"exclude server-status",
              "regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"
            }],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "authMethod":"key",
            "keyPassword":null,
            "remotePath":"/var/log/apache2/access_log",
            "remotePassword":null,
            "keyPath":"/home/sumo/.ssh/id_rsa",
            "remoteHosts":["192.168.11.23"],
            "remoteUser":"root",
            "remotePort":22,
            "sourceType":"RemoteFile",
            "alive":true
          }
        }
  recorded_at: Mon, 15 May 2017 16:53:53 GMT
recorded_with: VCR 3.0.3
