---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/collectors/4216085/sources
    body:
      encoding: UTF-8
      string: ! '{"source":{"alive":null,"authMethod":"key","automaticDateParsing":null,"category":"apache","cutoffTimestamp":null,"defaultDateFormat":null,"description":null,"encoding":null,"filters":[{"filterType":"Exclude","name":"exclude
        health check","regexp":".*\\\"GET \\/up HTTP\\/1\\.0\\\".*"},{"filterType":"Exclude","name":"exclude
        server-status","regexp":".*\\\"GET \\/server-status\\?auto HTTP\\/1\\.1\\\".*"}],"forceTimeZone":null,"hostName":null,"id":null,"keyPassword":null,"keyPath":"/home/sumo/.ssh/id_rsa","manualPrefixRegexp":null,"multilineProcessingEnabled":null,"name":"test_new_source_apache","remoteHosts":["192.168.11.23"],"remotePassword":null,"remotePath":"/var/log/apache2/access_log","remotePort":22,"remoteUser":"root","sourceType":"RemoteFile","status":null,"timeZone":null,"useAutolineMatching":null}}'
    headers:
      Authorization:
      - Basic bmV0b3BzQGdhemVsbGUuY29tOk4zdDBwNTV1bTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - ! '"f013d0a5fbd41f5411e1f654cbbbd6df"'
      location:
      - /v1/collectors/4216085/sources/7868940
    body:
      encoding: US-ASCII
      string: ! "{\n  \"source\":{\n    \"id\":7868940,\n    \"name\":\"test_new_source_apache\",\n
        \   \"category\":\"apache\",\n    \"automaticDateParsing\":true,\n    \"multilineProcessingEnabled\":true,\n
        \   \"useAutolineMatching\":true,\n    \"forceTimeZone\":false,\n    \"filters\":[{\n
        \     \"filterType\":\"Exclude\",\n      \"name\":\"exclude health check\",\n
        \     \"regexp\":\".*\\\\\\\"GET \\\\/up HTTP\\\\/1\\\\.0\\\\\\\".*\"\n    },{\n
        \     \"filterType\":\"Exclude\",\n      \"name\":\"exclude server-status\",\n
        \     \"regexp\":\".*\\\\\\\"GET \\\\/server-status\\\\?auto HTTP\\\\/1\\\\.1\\\\\\\".*\"\n
        \   }],\n    \"cutoffTimestamp\":0,\n    \"encoding\":\"UTF-8\",\n    \"authMethod\":\"key\",\n
        \   \"keyPassword\":null,\n    \"remotePath\":\"/var/log/apache2/access_log\",\n
        \   \"remotePassword\":null,\n    \"keyPath\":\"/home/sumo/.ssh/id_rsa\",\n
        \   \"remoteHosts\":[\"192.168.11.23\"],\n    \"remoteUser\":\"root\",\n    \"remotePort\":22,\n
        \   \"sourceType\":\"RemoteFile\",\n    \"alive\":true\n  }\n}"
  recorded_at: Fri, 17 Jan 2014 22:52:25 GMT
recorded_with: VCR 2.8.0
