---
http_interactions:
- request:
    method: post
    uri: https://api.us2.sumologic.com/api/v1/collectors/116771369/sources
    body:
      encoding: UTF-8
      string: '{"api.version":"v1","source":{"alive":null,"authMethod":null,"automaticDateParsing":null,"blacklist":null,"category":"test_category","contentType":null,"cutoffTimestamp":null,"defaultDateFormat":null,"description":"test_description","encoding":null,"filters":null,"forceTimeZone":null,"hostName":null,"id":null,"keyPassword":null,"keyPath":null,"manualPrefixRegexp":null,"messagePerRequest":null,"multilineProcessingEnabled":null,"name":"test_source","pathExpression":null,"paused":false,"remoteHosts":null,"remotePassword":null,"remotePath":null,"remotePort":null,"remoteUser":null,"scanInterval":300000,"sourceType":"Polling","status":null,"timeZone":null,"thirdPartyRef":{"resources":[{"serviceType":"AwsS3Bucket","path":{"type":"S3BucketPathExpression","bucketName":"test-bucket","pathExpression":"*/test.log"},"authentication":{"type":"S3BucketAuthentication","awsId":"TESTAWSID","awsKey":"TESTAWSKEY"}}]},"url":null,"useAutolineMatching":null,"version":null}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"e0f1ecb5663fbf8db4a3b4d11e1abd0a"'
      location:
      - "/v1/collectors/116771369/sources/194207840"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "source":{
            "id":194207840,
            "name":"test_source",
            "description":"test_description",
            "category":"test_category",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "contentType":"AwsS3Bucket",
            "forceTimeZone":false,
            "filters":[],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "thirdPartyRef":{
              "resources":[{
                "serviceType":"AwsS3Bucket",
                "path":{
                  "type":"S3BucketPathExpression",
                  "bucketName":"test-bucket",
                  "pathExpression":"*/test.log"
                },
                "authentication":{
                  "type":"S3BucketAuthentication",
                  "awsId":"TESTAWSID",
                  "awsKey":"********"
                }
              }]
            },
            "scanInterval":300000,
            "paused":false,
            "sourceType":"Polling",
            "alive":true
          }
        }
  recorded_at: Fri, 21 Apr 2017 19:43:30 GMT
[...]
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/116771369/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sources":[{
            "id":194207840,
            "name":"test_source",
            "description":"test_description",
            "category":"test_category",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "contentType":"AwsS3Bucket",
            "forceTimeZone":false,
            "filters":[],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "thirdPartyRef":{
              "resources":[{
                "serviceType":"AwsS3Bucket",
                "path":{
                  "type":"S3BucketPathExpression",
                  "bucketName":"test-bucket",
                  "pathExpression":"*/test.log"
                },
                "authentication":{
                  "type":"S3BucketAuthentication",
                  "awsId":"TESTAWSID",
                  "awsKey":"********"
                }
              }]
            },
            "scanInterval":300000,
            "paused":false,
            "sourceType":"Polling",
            "alive":true
          }]
        }
  recorded_at: Fri, 21 Apr 2017 19:43:31 GMT
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/116771369/sources/194207840
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"e0f1ecb5663fbf8db4a3b4d11e1abd0a"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "source":{
    [...]
[...]
- request:
    method: put
    uri: https://api.us2.sumologic.com/api/v1/collectors/116771369/sources/194207840
    body:
      encoding: UTF-8
      string: '{"api.version":"v1","source":{"alive":null,"authMethod":null,"automaticDateParsing":null,"blacklist":null,"category":"test_updated_category","contentType":null,"cutoffTimestamp":null,"defaultDateFormat":null,"description":"test_updated_description","encoding":null,"filters":null,"forceTimeZone":null,"hostName":null,"id":194207840,"keyPassword":null,"keyPath":null,"manualPrefixRegexp":null,"messagePerRequest":null,"multilineProcessingEnabled":null,"name":"test_source","pathExpression":null,"paused":true,"remoteHosts":null,"remotePassword":null,"remotePath":null,"remotePort":null,"remoteUser":null,"scanInterval":60000,"sourceType":"Polling","status":null,"timeZone":null,"thirdPartyRef":{"resources":[{"serviceType":"AwsS3Bucket","path":{"type":"S3BucketPathExpression","bucketName":"test-updated-bucket","pathExpression":"*/test-updated.log"},"authentication":{"type":"S3BucketAuthentication","awsId":"TESTAWSID","awsKey":"TESTAWSKEY"}}]},"url":null,"useAutolineMatching":null,"version":"\"e0f1ecb5663fbf8db4a3b4d11e1abd0a\""}}'
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
      Content-Type:
      - application/json
      If-Match:
      - '"e0f1ecb5663fbf8db4a3b4d11e1abd0a"'
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - '"bae6cc6626b9344a0e18a85430efb4d2"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "source":{
            "id":194207840,
            "name":"test_source",
            "description":"test_updated_description",
            "category":"test_updated_category",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "contentType":"AwsS3Bucket",
            "forceTimeZone":false,
            "filters":[],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "thirdPartyRef":{
              "resources":[{
                "serviceType":"AwsS3Bucket",
                "path":{
                  "type":"S3BucketPathExpression",
                  "bucketName":"test-updated-bucket",
                  "pathExpression":"*/test-updated.log"
                },
                "authentication":{
                  "type":"S3BucketAuthentication",
                  "awsId":"TESTAWSID",
                  "awsKey":"********"
                }
              }]
            },
            "scanInterval":60000,
            "paused":true,
            "sourceType":"Polling",
            "alive":true
          }
        }
  recorded_at: Fri, 21 Apr 2017 19:43:33 GMT
[...]
- request:
    method: get
    uri: https://api.us2.sumologic.com/api/v1/collectors/116771369/sources/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 404
      message:
    headers:
      content-type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "id" : "ZOJJ6-IZL57-2TKDS",
          "code" : "collectors.source.invalid",
          "message" : "The specified source ID is invalid."
        }
  recorded_at: Fri, 21 Apr 2017 19:43:34 GMT
[...]
- request:
    method: delete
    uri: https://api.us2.sumologic.com/api/v1/collectors/116771369/sources/194207840
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdHVzZXI6dGVzdHBhc3N3b3Jk
  response:
    status:
      code: 404
      message:
    headers:
      content-type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "id" : "VK3HS-LJJMD-DM3D5",
          "code" : "collectors.source.invalid",
          "message" : "The specified source ID is invalid."
        }
  recorded_at: Fri, 21 Apr 2017 19:43:36 GMT
recorded_with: VCR 3.0.3
